
.treeview, .treeview li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.treeview ul {
    height: 0;
    margin: 0;
    padding-left: 28px;
    overflow: hidden;
}

.treeview .open > ul {
    height: auto;
}

.treeview li {
    font-size: 16px;
    line-height: 28px;
    padding: 0;
}

.treeview li > * {
    vertical-align: bottom;
}

.treeview .hit {
    background: url(images/sprite-white.png) -70px 0 no-repeat;
    cursor: default;
    display: inline-block;
    height: 28px;
    width: 28px;
}

.treeview .expandable {
    cursor: pointer;
}

.treeview li:last-child > .hit {
    background-position: -29px -102px;
}

.treeview .expandable {
    background-position: -29px 0;
}

.treeview li:last-child > .expandable {
    background-position: 0 0;
}

.treeview .open > .expandable {
    background-position: -29px -34px;
}

.treeview .open:last-child > .expandable {
    background-position: 0 -102px;
}

.treeview .open > ul {
    background: url(images/sprite-white.png) -70px 0 repeat-y;
}

.treeview .open:last-child > ul {
    background: none;
}
